#empresas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 40px 0;

}
#empresas-logos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 750px) {
    #empresas {
        padding: 10px 0;
    }
    #empresas-logos {
        display:block;
        columns: 2;
    }
    #empresas h1 {
        font-size: 1.25rem;
    }
    #empresas-logos img {
        display:flex;
        margin:auto;
        width: 100px;
    }

}