#home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 91px);
    background-image: url(../images/background-main.png);
    background-size: cover;
    background-position: center;
    align-items: center;
}

#cte {
    width: 40%;
}
#cte h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
#cte p{
    font-size: 1.5rem;
}
#cte button {
    color: var(--branco-principal);
    padding: 10px 25px;
    border: 2px solid var(--laranja-destaque);
    border-radius: 4px;
    margin: 25px;
    font-size: large;
}
.b2 {
    background-color: transparent;
}
.b1 {
    background-color: var(--laranja-destaque);
}