#home {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: calc(100vh - 91px);
    background-image: url(../images/background-main.png);
    background-size: cover;
    background-position: center;
}

#home aside {
    width: 50%;
}

#cte button {
    color: var(--branco-principal);
    padding: 10px 25px;
    border: 2px solid var(--laranja-destaque);
    border-radius: 4px;
    margin: 25px;
    font-size: large;
}

.b2 {
    background-color: transparent;
}
.b1 {
    background-color: var(--laranja-destaque);
}

.selos {
    display: flex;
    height: 100vh;
    width: calc(100vw - 91px);
    gap: 32px;
}
.selos p {
    background-color: var(  --laranja-destaque);
}
h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

p{
    font-size: 2rem;
}