#home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 91px);
    background-image: url(../images/background-main.png);
    background-size: cover;
    background-position: center;
    align-items: center;
}

#cte {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    gap: 20px;
}
#cte h1 {
    font-size: 2.5rem;
}
#cte p{
    font-size: 1.25rem;
}

#cte a {
    color: var(--branco-principal);
    padding: 10px 25px;
    border: 2px solid var(--laranja-destaque);
    border-radius: 4px;
    margin: 25px;
    font-size: large;
}
.b2 {
    background-color: transparent;
}
.b1 {
    background-color: var(--laranja-destaque);
}