#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--cinza-claro);
    height: auto;
}

#galery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    background-color: var(--branco-principal);
    border: 1px solid var(--secondary-azul-petroleo);
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.foto p {
    color: var(--secondary-azul-petroleo);
    font-size: 1rem;
}