#projects {
    background-color: var(--cinza-claro);
}

#galery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

#galery img {
    height: 200px;
    width: 200px;
}

.foto {
    background-color: var(--cinza-secundario);
    
    width: 250px;
    height: 300px;
}
