#services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    background-color: var(--cinza-claro);
}

#quadro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 20px;
}
.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 250px;
    padding: 40px;
    gap: 30px;
    background-color: var(--branco-principal);
    border: 1px solid var(--secondary-azul-petroleo);
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    color: var(--secondary-azul-petroleo);
}
.work h1 {
    font-size: 1rem;
    font-weight: bolder;
}
.work p {
    font-size: 0.9rem;
}


#services-footer {
    background-color: var(--branco-principal);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35%;
    border: 1px solid var(--secondary-azul-petroleo);
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-content li {
    color: var(--primary-azul-escuro);
    
}
.footer-content h2 {
    color: var(--primary-azul-escuro);
}

@media (max-width: 1400px) {
    #quadro {
        flex-wrap: wrap;
        justify-content: center;
    }
    .work {
        width: calc(50% - 12px);
    }
}

/* @media (max-width: 1170px) {
    #services {
        height: fit-content;
    }
    #quadro {
        display: none;
        
    }
    #services-footer {
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        gap: 20px;
        border: none;
        box-shadow: none;
        background-color: transparent;
        margin: 20px 0;
    }
    .footer-content h2 {
        font-size: 1.25rem;
            
    }
    
} */