#sobre {
    display: flex;
    height: 50vh;
}

#meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 30px;
}
#esquerdo {
    background: url("../images/aside.png");
    background-position: center;
    color: var(--branco-principal);
    padding: 20px;
    height: 100%;
    width: 50%;
    background-size: cover;
}
#direito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-azul-escuro);
    width: 30%;
}

@media (max-width: 1170px) {
    #sobre {
        height: auto;
    }
    #meio {
        width: 100%;
        padding: 20px 10px;
        
    }
    #meio h1 {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    #meio h3 {
        font-size: 0.75rem;
    }
    #meio p {
        font-size: 1rem;
    }
    #direito {
        width: 50%;
        height: auto;
        padding: 0;
    }
    #esquerdo {
        display: none;
    }
}