#sobre {
    display: flex;
    height: 50vh;
}

#direito {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-azul-escuro);
    width: 50%;
}
#esquerdo {
    background: url("../images/aside.png");
    color: var(--branco-principal);
    padding: 20px;
    height: 100%;
    width: 50%;
    background-size: cover;
}