#sobre {
    display: flex;
    justify-content: center;
    height: 50vh;
}

#meio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 30px;
}
#esquerdo {
    background: url("../images/aside.png");
    background-position: center;
    color: var(--branco-principal);
    width: 50%;
    background-size: cover;
}
#direito {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-azul-escuro);
    color: var(--branco-principal);
}

@media (max-width: 1170px) {
    #esquerdo {
        display: none;
    }
    /* #sobre {
        height: auto;
    }
    #meio {
        width: 100%;
        padding: 20px 10px;
        
    }
    #meio p {
        font-size: 1rem;
    }
    #direito {
        width: 50%;
        font-size: 0.8rem;
    } */
}
@media (max-width: 700px) {
    #direito {
        display: none;
    }
    #meio {
        width: 90%;
    }
    #meio h1 {
        font-size: 1.25rem;
    }
}